@charset "UTF-8";

body{
  background: #e6e6e6;
}

.header{
  display: flex;
  background: #fff;
  position: fixed; /* ヘッダーを固定する */
  top: 0; /* 上部から配置の基準位置を決める */
  left: 0; /* 左から配置の基準位置を決める */
  width: 100%; /* ヘッダーの横幅を指定する */
  z-index: 9999;
}

.title-app{
  margin-top: 30px;
  width: 280px;
  height: 65px;
  object-fit: cover;

}



.ra-men-img {
  width: 80px;
  height: auto;
  margin: 10px 0 10px 10px;
 
}



/*フォーム全体*/
#form1{
  float: right;
  position:relative;	
  max-width:270px;
  margin-bottom:15px;	 	
  }
  
  #sbox{
  width:200px;
  position:fixed;	
  right: 110px;
  top: 38px;	
  outline:0;	
  height:50px;	
  padding:0 10px;	 
  border-radius:2px 0 0 2px;		
  background:#eee;		
  }
 
  /*検索ボタン*/
  #sbtn{
  width:70px; 
  height:50px; 
  position:fixed;  
  right: 30px;  
  top: 28px;;
  border-radius:0 2px 2px 0; 
  background:#7fbfff; 
  border:none; 
  color:#fff; 
  font-weight:bold; 
  font-size:16px; 
  }
  
  #sbtn:hover{
  color:#666; 
  }

  
/* メニュー */

#g_navi {	
  background: #f34848;
  font-weight: bold;
  position: fixed; 
  top: 130px; 
  left: 0; 
  width: 100%; 
  z-index: 9999;
}	

#g_navi ul {		
  display: flex;		
  margin: 0 auto;		
  padding: 0 3%;		
  width: 94%;		
  max-width: 960px;		
  list-style-type: none;
}		

#g_navi ul li {			
  position: relative;			
  width: 25%;
 		
}		


#g_navi ul li a {				
      display: block;			
    	padding: 17px 10px;				
      color: #fff;				
      text-align: center;				
      text-decoration: none;			
    }			
    
#g_navi ul li a:hover {			
        color: #7fbfff;		
      }
.app{
    width: 800px;
    text-align: center;
    margin: 200px auto;
    margin-bottom: 0;
    background: #fff;
    padding: 5px 45px;
  }

  @media screen and (max-width: 800px){
    .app{ 
    width: 100%;
    padding: 0 auto;
    margin-bottom: 0;
  }
}

  .app p{
  text-align: left;
}

    
  


  /* 検索 */
  .form-contents{
    margin: 40px 0 40px 0;
    border: 3px solid#ff4747;
    padding: 10px 0;
    border-radius: 10px;
}

#search-category {
    width: 110px;
    padding: 10px;
    font-size: 15px;
    display: inline-block;
    margin: 10px;
    background: #ffffff;
    font-weight: bold;
    color: #000000;
    border: 2px solid #000000;
    border-radius: 10px;
}

#search-category.select {
    border: 1px solid #000000

}

#search-keyword{
    border-radius: 25px;
    border:1px solid #c0bfbf;
    background: #e2e2e2;
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    width: 500px;
    border:1px solid #a5a3a3;

}



input[type="text"]:focus {
    outline: none;
  }

input[type="submit"] {
    background-color: #3fbff1;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    overflow: hidden;
    margin: 10px;
   
}



  .container {
    display: flex;
  }

  .column {
    flex: 1;
    padding: 20px;
  }

  .image {
    max-width: 100%;
    height: auto;
  }

  a{
    text-decoration: none;
    color: #09abeb;
  }
  
  a:hover{
    border-bottom: 1px solid #000000;
  }










.footer-contents{
  width: 100%;
}


  /* フッター */
  .footer {
    padding: 2rem 2rem 0 2rem;
    font-size: 15px;
    color: #999;
    background: #fff;
    margin-top: 50px;
  }
  
  .footer__navi {
    flex-wrap: wrap;
  }
  
  .footer__navi li {
    display: inline-block;
  }
  
  .footer__navi li:not(:last-child) {
    margin-right: 16px;
  }
  
  .footer__logo {
    display: inline-block;
  }
  
  @media (min-width: 768px) {
    .md-flex {
      display: flex;
      align-items: flex-end
    }
  
    .md-justify-between {
      justify-content: space-between;
    }
  
    .copyright {
      text-align: left;
    }
  }

  

  .title-img{
    width: 150px;
  }