@charset "UTF-8";

body{
  background: #e6e6e6;
}

.header{
  display: flex;
  background: #fff;
  position: fixed; /* ヘッダーを固定する */
  top: 0; /* 上部から配置の基準位置を決める */
  left: 0; /* 左から配置の基準位置を決める */
  width: 100%; /* ヘッダーの横幅を指定する */
  z-index: 9999;
}

.title-app{
  margin-top: 30px;
  width: 280px;
  height: 65px;
  object-fit: cover;

}



.ra-men-img {
  width: 80px;
  height: auto;
  margin: 10px 0 10px 10px;
 
}





/*フォーム全体*/
#form1{
  float: right;
  position:relative;	
  max-width:270px;
  margin-bottom:15px;	 	
  }
  
  #sbox{
  width:200px;
  position:fixed;	
  right: 110px;
  top: 38px;	
  outline:0;	
  height:50px;	
  padding:0 10px;	 
  border-radius:2px 0 0 2px;		
  background:#eee;		
  }
 
  /*検索ボタン*/
  #sbtn{
  width:70px; 
  height:50px; 
  position:fixed;  
  right: 34px;  
  top: 28px;;
  border-radius:0 2px 2px 0; 
  background:#7fbfff; 
  border:none; 
  color:#fff; 
  font-weight:bold; 
  font-size:16px; 
  }
  
  #sbtn:hover{
  color:#666; 
  }

  
 


  
/* メニュー */

#g_navi {	
  background: #f34848;
  font-weight: bold;
  position: fixed; 
  top: 130px; 
  left: 0; 
  width: 100%; 
  z-index: 9999;
}	

#g_navi ul {		
  display: flex;		
  margin: 0 auto;		
  padding: 0 3%;
  width: 94%;		
  max-width: 960px;		
  list-style-type: none;
}		

#g_navi ul li {			
  position: relative;			
  width: 25%;
 		
}		


#g_navi ul li a {				
      display: block;			
    	padding: 17px 10px;				
      color: #fff;				
      text-align: center;				
      text-decoration: none;			
    }			
    
#g_navi ul li a:hover {			
        color: #7fbfff;		
      }



.app{
    width: 800px;
    text-align: center;
    margin: 200px auto;
    background: #fff;
    padding: 5px 45px;
  }

  .app p{
  text-align: left;
}

h2{
    background: #333;
    margin-bottom: 0%;
    color: #fff;
    padding: 20px;
    border-radius: 10px 10px 0 0;
    box-sizing: border-box;
    border-bottom: 3px solid #f05d5d;
    
  }

  








  /* カテゴリ検索 */
 
.form-contents{
    margin-top: 40px;
    border: 3px solid#ff4747;
    padding: 10px 0;
    border-radius: 10px;
}

#search-category {
    width: 110px;
    padding: 10px;
    font-size: 15px;
    display: inline-block;
    margin: 10px;
    background: #ffffff;
    font-weight: bold;
    color: #000000;
    border: 2px solid #000000;
    border-radius: 10px;
}

#search-category.select {
    border: 1px solid #000000

}

#search-keyword{
    border-radius: 25px;
    border:1px solid #c0bfbf;
    background: #e2e2e2;
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    width: 500px;
    border:1px solid #a5a3a3;

}



input[type="text"]:focus {
    outline: none;
  }

input[type="submit"] {
    background-color: #3fbff1;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    overflow: hidden;
    margin: 10px;
   
}



/* 画像スライダー */
  .slider-wrapper {
    position: relative;
    height: 450px;
    margin: auto;
    border-left: 1px solid #c5c4c4;
    border-right: 1px solid #c5c4c4;
  }
  
  .slider-wrapper.hidden {
    display: none;
  }
  
  .image-slider {
    position: relative;
    height: 450px;
  }
  
  .image-slider img {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: auto;
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  
  .image-slider img.active {
    opacity: 1;
  }


  .prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 50px;
  font-weight: bold;
  cursor: pointer;
}

.prev-btn {
  left: 20px;
}

.next-btn {
  right: 20px;
}


.image-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.image-info p {
  margin: 0;
}



.news-app{
  margin: 60px 0;
  border-left: 1px solid #c5c4c4;
  border-right: 1px solid #c5c4c4;
  border-bottom: 1px solid #c5c4c4;
  border-radius: 10px;
}

.news-app a{
  color: #000000;
  text-decoration: none;
}

.news-app p{
  padding: 20px;
  text-align: left;
}


/* ボタン */
#year-select{
  background: #fff;
  outline: none;
  border: 2px solid #f55757;
  margin-bottom: 20px;
  width: 110px;
  height: 45px;
  font-size: 15px;
}

#month-select{
  background: #fff;
  outline: none;
  border: 2px solid #f55757;
  width: 110px;
  height: 45px;
  font-size: 15px;
  margin-bottom: 20px;

}


.minute-item{
  border-radius: 10px;
  border-left: 1px solid #c5c4c4;
  border-right: 1px solid #c5c4c4;
  border-bottom: 1px solid #c5c4c4;
  height: 300px

}



.button-item{
margin-top: 30px;
}

#minutes{
  width: 90px;
  height: 45px;
  padding: 12px;
  font-size: 15px;
  display: inline-block;
  margin: 0 10px;
  background: #ffffff;
  font-weight: bold;
  color: #000000;
  border: 2px solid #000000;
  border-radius: 10px;



}

select option{
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

#start,
#stop,#reset{
  width: 95px;
  padding: 10px;
  font-size: 15px;
  display: inline-block;
  margin: 0 10px;
  background: #ffffff;
  font-weight: bold;
  color: #000000;
  border: 2px solid #000000;
  border-radius: 10px;

}


#countdown{
  font-size: 55px;
  font-weight:800;
  margin-top: 20px;
  letter-spacing: 0.3em;
}




.footer-contents{
  width: 100%;
}


  /* フッター */
  .footer {
    padding: 2rem 2rem 0 2rem;
    font-size: 15px;
    color: #999;
    background: #fff;
    margin-top: 50px;
  }
  
  .footer__navi {
    flex-wrap: wrap;
  }
  
  .footer__navi li {
    display: inline-block;
  }
  
  .footer__navi li:not(:last-child) {
    margin-right: 16px;
  }
  
  .footer__logo {
    display: inline-block;
  }
  
  @media (min-width: 768px) {
    .md-flex {
      display: flex;
      align-items: flex-end
    }
  
    .md-justify-between {
      justify-content: space-between;
    }
  
    .copyright {
      text-align: left;
    }
  }

  


  .footer a{
    text-decoration: none;
    color: #7fbfff;
  }

  .footer a:hover{
    border-bottom:1px solid #000;
  }

  .title-img{
    width: 150px;
  }